<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div>
            <span th:each="thread :${threads}" id="${thread.id}" >
                <a
                    th:href="@{/read/{threadId}(threadId = ${thread.id})}"
                    th:text="${thread.id}">
                    id
                </a>
                <span th:text="${thread.head}">head</span>
                <span th:text="${thread.body}">name</span>
                <img th:src="${thread.url}" alt="picture"/>
                <br>
            </span>
        </div>
    </body>
</html>
