<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
    <body>
        <div>
            <span th:each="thread :${threads}">
                <span>
                    <a
                        th:href="@{/{boardName}/{threadId}(boardName=${boardName}, threadId=${thread.id})}"
                        th:text="${thread.id}"
                        id="${thread.id}">
                        id
                    </a>
                </span>
                <span th:text="${thread.head}">head</span>
                <span th:text="${thread.body}">name</span>
                <img th:src="${thread.url}" alt="picture"/>
                <br>
            </span>
        </div>

        <form method="post"
              th:action="@{/poster/{boardName}(boardName=${boardName})}"
              enctype="multipart/form-data"
              th:object="${post}">

            <label for="head">head:</label>
            <input type="text" th:field="*{head}" id="head">

            <label for="body">body</label>
            <textarea th:field="*{body}" id="body" rows="6"></textarea>

            <input type="file" name="image" accept="image/*"/>

            <button type="submit">create</button>
        </form>

        <a href="/">home</a>
    </body>
</html>
