<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/styles/index.css" rel="stylesheet"/>
</head>
    <body>
        <div>
            <span th:each="board : ${boards}">
                <span>
                    <a th:href="@{/{name}(name=${board.id})}"
                       th:text="${board.transcription}">
                        name
                    </a>
                    <br>
                </span>
            </span>
        </div>

        <form method="post"
              th:action="@{/poster/board}">

            <label for="boardName">boardName:</label>
            <input type="text" name="boardName" id="boardName" required>

            <label for="rule">rule:</label>
            <input type="text" name="rule" id="rule" required>

            <label for="pass">pass:</label>
            <input type="text" name="pass" id="pass" required>

            <label for="nickname">nickname:</label>
            <input type="text" name="nickname" id="nickname" required>

            <label for="lifeCycleThreads">lifeCycleThreads:</label>
            <input type="text" name="lifeCycleThreads" id="lifeCycleThreads" required>

            <label for="lifeCyclePosts">lifeCyclePosts:</label>
            <input type="text" name="lifeCyclePosts" id="lifeCyclePosts" required>

            <label for="transcription">transcription:</label>
            <input type="text" name="transcription" id="transcription" required>

            <button type="submit">create</button>
        </form>

        <a href ="/api/login">login</a>
        <a href ="/users/panel">panel</a>
    </body>
</html>
