<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
</head>
<body>
    <main class="page">
        <header class="page-header">
            <h1 class="page-title">JABLOG</h1>
        </header>

        <nav class="topbar">
            <a href="/api/login">Залогиниться</a>
            <a href="/users/panel">Админская панель</a>
        </nav>

        <section class="panel">
            <h2 class="panel-title">ДОСКИ</h2>
            <div class="panel-body">
                <ul class="board-list">
                    <li th:each="board : ${boards}">
                        <a th:href="@{/{name}(name=${board.id})}"
                           th:text="${board.transcription}">
                            name
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>
