<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
    <body>
        <div>
            <span th:each="board : ${boards}">
                <span>
                    <a th:href="@{/{name}(name=${board})}"
                       th:text="${board}">
                        name
                    </a>
                    <br>
                </span>
            </span>
        </div>

        <form method="post"
              th:action="@{/poster/board"
              th:object="${post}">

            <label for="head">head:</label>
            <input type="text" th:field="*{head}" id="head">

            <label for="body">body</label>
            <textarea th:field="*{body}" id="body" rows="6"></textarea>

            <input type="file" name="image" accept="image/*"/>

            <button type="submit">create</button>
        </form>
    </body>
</html>
