<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thread</title>
</head>
    <body>
        <div>
            <span th:text="${thread.head}">head</span>
            <span th:text="${thread.body}">body</span>
            <img th:src="${thread.url}" alt="picture"/>
            <br>
        </div>

        <div th:each="currentPost :${posts}">
            <span id="${currentPost.id}">
                <span th:text="${currentPost.id}">id</span>
                <span th:text="${currentPost.head}">head</span>
                <span th:text="${currentPost.body}">body</span>
                <img th:src="${currentPost.url}" alt="${currentPost.url}"/>
                <br>
            </span>
        </div>

        <form method="post"
              th:action="@{/poster/{boardName}/{threadId}(boardName=${boardName}, threadId=${thread.id})}"
              enctype="multipart/form-data"
              th:object="${post}">

            <label for="head">head:</label>
            <input type="text" th:field="*{head}" id="head">

            <label for="body">body</label>
            <textarea th:field="*{body}" id="body" rows="6"></textarea>

            <input type="file" name="image" accept="image/*"/>

            <button type="submit">create</button>
        </form>
    </body>
</html>
