<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/script/js/htmx.min.js}" type="text/javascript"></script>
</head>
    <body>
        <div>
            <span th:each="user : ${users}">
                <span th:text="${user}" th:id="'username_' + ${user}">user</span>
                <button
                th:hx-delete="@{/users/panel/{boardName}/{nickname}
                (boardName=${boardName}, nickname=${user})}">
                    delete user
                </button>
            </span>
        </div>
        <form method="post"
              th:action="@{/users/panel/{boardName}(boardName=${boardName})}"
              th:object="${login}">

            <label for="password">password:</label>
            <input type="text" th:field="*{password}" id="password">

            <label for="nickname">nickname:</label>
            <input type="text" th:field="*{nickname}" id="nickname">

            <button type="submit">create user</button>
        </form>
        <a href="/">home</a>
    </body>
</html>